<a href="https://colab.research.google.com/github/qrvgapostol/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operations and Expressions in Phyton

In [1]:
print(bool("Hello"))
print(bool(15))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))

True
True
False
False
False
False
False
False

Boolean Opearations

In [2]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))

True
False
True
False

Functions can Return a Boolean

In [3]:
def myFunction():
  return False

  print(myFunction)

if myFunction():
    print("YES!")
else:
    print("No!")

No!

In [4]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Phyton Operators

In [5]:
print(10+5)
print(10-5)
print(10*5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
0
3
100

Python Bitwise Oprators

In [6]:
a=60
b=13
print(a&b)
print(a|b)
print(a^b)
a<<1
a<<2

12
61
49

240

Phyton Assignment Operators

In [10]:
x=1
x=x+3
print(x)
x=x-3
print(x)
x=x*3
print(x)
x=x/3
print(x)
x=x%3
print(x)

4
1
3
1.0
1.0

Logical Operators

In [25]:
y=60
z=13

print(y>z)
print(z>y)
print(y>z and z<y)
print(y>z and z>y)
print(not(y>z and z<y))
print(y>z or z<y)

True
False
True
False
False
True

Identity Operator

In [28]:
print(y is z)
print(y is not z)

False
True

Loop Statement

In [34]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [41]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
      break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [57]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
      print(x)
      break

Thursday

Looping with string

In [52]:
for x in "week":
  print(x)

w
e
e
k

The range function

In [63]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loop

In [67]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Phyton While Loops

In [68]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [70]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

Continue Statement

In [71]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

Else Statement

In [74]:
i=1
while i<6:
  print(i)
  i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6