<a href="https://colab.research.google.com/github/qrvgapostol/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Phyton identification

In [32]:
if 5>2:
  print("Fils is greater than two")#Comparison of numbers 5 and 2

Fils is greater than two

Phyton Comments

In [31]:
#This is a comment
print("Hello, World")

Hello, World

Phyton Variable

In [30]:
x = 1 #This is a single variable with a value
a, b=0,-1
a,b,c=0,-1,2

print (a)
print (b)
print (x)
b="Ruud"
print (b)

0
-1
1
Ruud

Phyton Casting

In [34]:
b="sally"#This is a type of string
b=int(4)
print (b)

b=float(4)
print (b)

4
4.0

Type()function

In [35]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes and Single Quotes

In [39]:
y="John"
print(y)

y='John'
print(y)

John
John

Case Sensitive

In [ ]:
a=4
A="Sally"
#A will not overwrite a

Multiple Variable

In [46]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variable

In [48]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variable

In [55]:
x="enjoying"
y="Phyton"
print("Phyton programming is "+ x)

#Other way
x="Phyton is "
y="enjoying"
z=x+y
print(z)

Phyton programming is enjoying
Phyton is enjoying